:root {
  --size100: 100%;
  --tipsColor: #f5222d;
  --fontWhiteColor: #fff;
  --fontSize60: 60px;
  --mb60: 60px;
}

#app {
  height: var(--size100);
}

.ant-layout {
  height: var(--size100);
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}